name = "retell-llm-server"
main = "src/index.js"
compatibility_date = "2024-01-01"

[vars]
OPENROUTER_MODEL = "openai/gpt-4o"

[[durable_objects.bindings]]
name = "WEBSOCKET_SERVER"
class_name = "WebSocketServer"

[[migrations]]
tag = "v1"
new_classes = ["WebSocketServer"]
